.closeIcon {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  gap: 70px;
  top: 100px;
  padding-left: 330px;
}

.imgs {
  display: flex;
  flex-direction: column;
}

.imgs img {
  width: 560px;
  height: 630px;
}

.gap10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gap40 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info_wrapper {
  position: fixed;
  left: calc(330px + 560px + 70px);
  top: 100px;
}

.info_wrapper__name {
  font-size: 24px;
  color: var(--color-second);
  line-height: 100%;
}

.info_wrapper__price {
  font-size: 24px;
  color: var(--color-main);
  line-height: 100%;
  font-weight: 900;
}

.w600 {
  font-weight: 600;
}

.sizes_сhooseButtons {
  display: flex;
  gap: 10px;
}

.sizeChooseButton {
  font-size: 17px;
  line-height: 100%;
  color: var(--color-second);
  cursor: pointer;
}

.sizeChooseButtonActive {
  color: var(--color-main);
}

.sizes_items {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sizeButton {
  cursor: pointer;
  width: 40px;
  height: 36px;
  background: white;
  border: 1px solid rgba(62, 57, 76, 0.5);
  color: rgba(62, 57, 76, 0.5);
  font-size: 14px;
  font-family: 'Aeroport Mono';
}

.sizeButtonActive {
  background: rgba(62, 57, 76, 0.2);
  border: 1px solid rgba(62, 57, 76, 0.2);
  color: var(--color-main);
}

.isInStock_text,
.inStock,
.notInStock {
  font-size: 14px;
  line-height: 120%;
}

.isInStock_text {
  color: var(--color-second);
}

.inStock {
  color: var(--color-inStock);
}

.notInStock {
  color: var(--color-notInStock);
}

.buttons button {
  width: 300px;
  height: 40px;
  font-family: 'Aeroport Mono';
  border-radius: 0;
  cursor: pointer;
}

.addToCart {
  background-color: white;
  color: var(--color-main);
  border: 1px solid var(--сolor-main);
}

.buyNow {
  background-color: rgba(62, 57, 76, 1);
  color: white;
  border: 1px solid var(--сolor-main);
}

@media screen and (max-width: 1800px) {
  .closeIcon {
    width: 24px;
    height: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .wrapper {
    position: relative;
    display: flex;
    gap: 70px;
    top: 100px;
    padding-left: 200px;
  }

  .imgs {
    display: flex;
    flex-direction: column;
  }

  .imgs img {
    width: 448px;
    height: 504px;
  }

  .gap10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .gap40 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .info_wrapper {
    position: fixed;
    left: calc(200px + 448px + 70px);
    top: 100px;
  }

  .info_wrapper__name {
    font-size: 20px;
    color: var(--color-second);
    line-height: 100%;
  }

  .info_wrapper__price {
    font-size: 20px;
    color: var(--color-main);
    line-height: 100%;
    font-weight: 900;
  }

  .w600 {
    font-weight: 600;
  }

  .sizes_сhooseButtons {
    display: flex;
    gap: 10px;
  }

  .sizeChooseButton {
    font-size: 14px;
    line-height: 100%;
    color: var(--color-second);
    cursor: pointer;
  }

  .sizeChooseButtonActive {
    color: var(--color-main);
  }

  .sizes_items {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sizeButton {
    cursor: pointer;
    width: 36px;
    height: 32px;
    background: white;
    border: 1px solid rgba(62, 57, 76, 0.5);
    color: rgba(62, 57, 76, 0.5);
    font-size: 14px;
    font-family: 'Aeroport Mono';
  }

  .sizeButtonActive {
    background: rgba(62, 57, 76, 0.2);
    border: 1px solid rgba(62, 57, 76, 0.2);
    color: var(--color-main);
  }

  .isInStock_text,
  .inStock,
  .notInStock {
    font-size: 14px;
    line-height: 120%;
  }

  .isInStock_text {
    color: var(--color-second);
  }

  .inStock {
    color: var(--color-inStock);
  }

  .notInStock {
    color: var(--color-notInStock);
  }

  .buttons button {
    width: 300px;
    height: 40px;
    font-family: 'Aeroport Mono';
    border-radius: 0;
    cursor: pointer;
  }

  .addToCart {
    background-color: white;
    color: var(--color-main);
    border: 1px solid var(--сolor-main);
  }

  .buyNow {
    background-color: rgba(62, 57, 76, 1);
    color: white;
    border: 1px solid var(--сolor-main);
  }
}

@media screen and (max-width: 600px) {
  .closeIcon {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 14px;
  }

  .wrapper {
    position: relative;
    display: flex;
    gap: 40px;
    top: 74px;
    padding: 0;
    flex-direction: column;
  }

  .p12 {
    padding-left: 12px;
  }

  .imgs {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: fit-content;
    /* position: fixed; */
    position: initial; /* urgent fix */
  }

  .imgs img {
    width: 366px;
    height: fit-content;
  }

  .gap10 {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .gap40 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .info_wrapper {
    /* position: fixed; */
    position: initial; /* urgent fix */
    left: 0;
    top: 450px;
    padding: 0 12px;
  }

  .info_wrapper__name {
    font-size: 20px;
    color: var(--color-second);
    line-height: 100%;
  }

  .info_wrapper__price {
    font-size: 20px;
    color: var(--color-main);
    line-height: 100%;
    font-weight: 400;
  }

  .w600 {
    font-weight: 400;
  }

  .sizes_сhooseButtons {
    display: flex;
    gap: 10px;
  }

  .sizeChooseButton {
    font-size: 17px;
    line-height: 100%;
    color: var(--color-second);
    cursor: pointer;
  }

  .sizeChooseButtonActive {
    color: var(--color-main);
  }

  .sizes_items {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sizeButton {
    cursor: pointer;
    width: 36px;
    height: 32px;
    background: white;
    border: 1px solid rgba(62, 57, 76, 0.5);
    color: rgba(62, 57, 76, 0.5);
    font-size: 14px;
    font-family: 'Aeroport Mono';
  }

  .sizeButtonActive {
    background: rgba(62, 57, 76, 0.2);
    border: 1px solid rgba(62, 57, 76, 0.2);
    color: var(--color-main);
  }

  .isInStock_text,
  .inStock,
  .notInStock {
    font-size: 14px;
    line-height: 120%;
  }

  .isInStock_text {
    color: var(--color-second);
  }

  .inStock {
    color: var(--color-inStock);
  }

  .notInStock {
    color: var(--color-notInStock);
  }

  .buttons {
    width: calc(100vw - 24px);
    /* position: fixed; */
    position: initial; /* urgent fix */
    margin-top: 108px;
    bottom: 12px;
  }

  .buttons button {
    width: 100%;
    height: 52px;
    font-family: 'Aeroport Mono';
    border-radius: 0;
    cursor: pointer;
  }

  .addToCart {
    background-color: white;
    color: var(--color-main);
    border: 1px solid var(--сolor-main);
  }

  .buyNow {
    background-color: rgba(62, 57, 76, 1);
    color: white;
    border: 1px solid var(--сolor-main);
  }
}
