@import url('../assets/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Aeroport Mono';

  color: rgba(62, 57, 76, 1);
  background-color: #fff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --сolor-main: rgba(62, 57, 76, 1);
  --color-second: rgba(62, 57, 76, 0.5);
  --color-disabled: rgba(62, 57, 76, 0.2);
  --color-white: #FFFFFF;
  --color-inStock: #6EFF00;
  --color-notInStock: #FF8000;
}

.title {
  font-family: 'Aeroport Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.mini_title {
  font-family: 'Aeroport Mono';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.body {
  font-family: 'Aeroport Mono';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.caption {
  font-family: 'Aeroport Mono';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.line-height120 {
  line-height: 120%;
}

.line-height100 {
  line-height: 100%;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

.main-color {
  color: var(--сolor-main);
}

.second-color {
  color: var(--color-second);
}