.wrapper {
    width: calc(100vw - 260px);
    min-height: 100vh;
    position: relative;
    top: 120px;
}

.aside {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 283px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brand_button {
    width: 152px;
    height: fit-content;
    font-size: 17px;
    letter-spacing: -0.02em;
    line-height: 100%;
    text-align: left;

    margin: 0;
    padding: 4px;
    background: transparent;
    border: 0;
    font-family: 'Aeroport Mono';
    transition: background 0.4s ease-out;
    cursor: pointer;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.brand_button:hover {
    background: var(--color-second);
}

.brand_button.active {
    background: var(--color-second);
}

.h1 {
    font-size: 50px;
    margin-left: 260px;
}

.sorts_wrapper {
    display: flex;
    gap: 23px;
    position: relative;
    left: 260px;
    top: 78px;
}

.sorts_wrapper_button_sorts {
    width: 318px;
    height: 25px;
    font-family: 'Aeroport Mono';

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;

    font-size: 17px;

    background: white;
    border: none;
    cursor: pointer;
}

.sorts_wrapper_button_size {
    width: 70px;
    height: 25px;
    font-family: 'Aeroport Mono';

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 17px;

    background: white;
    border: none;
    cursor: pointer;
}

.sorts_wrapper_options_sorts {
    position: absolute;
    top: 35px;
    left: 0;
    background: '#fff';
    border: 1px solid rgba(62, 57, 76, 0.2);
    z-index: 10;
    width: 318px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: white;
}

.sorts_wrapper_options_sorts__item {
    background: white;
    display: flex;
    cursor: pointer;
    gap: 4px;
    align-items: center;
    font-size: 17px;
}

.sorts_wrapper_options_size {
    position: absolute;
    top: 35px;
    left: 0;
    background: '#fff';
    border: 1px solid rgba(62, 57, 76, 0.2);
    z-index: 10;
    width: 70px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    background: white;
}

.sorts_wrapper_options_size__item {
    background: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.sort_icon {
    width: 9.61px;
    height: 13.94px;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 260px;
    top: calc(113px - 25px);
    row-gap: 40px;
    column-gap: 10px;
}
